body {
    font-family: 'Montserrat', sans-serif;
    color: #2B3541;
}

.container {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Шапка */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 27px;
}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 54px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.header-nav a {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2B3541;
    text-decoration: none;
    position: relative;
}

.header-nav a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #2B3541;
    content: "";
    transition: width 0.3s ease-out;
}

.header-nav a:hover:after, .header-nav a:focus:after {
    width: 100%;
}

.contacts {
    display: flex;
    gap: 30px;
}

.insta , .fb {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.insta {
    background-image: url(../images/IN.svg);   
}

.insta:hover {
    transform: scale(1.2);
    transition: all 0.8s ease-out;
    background-color: rgb(243, 136, 211);
    border-radius: 5px;
    cursor: pointer;
}

.fb {
    background-image: url(../images/FB.svg);
}

.fb:hover {
    transform: scale(1.2);
    transition: all 0.8s ease-out;
    background-color: rgb(106, 106, 233);
    border-radius: 5px;
    cursor: pointer;
}


/* Первая секция */

.first-section {
    margin-bottom: 160px;
}

.banner {
    margin: 0 auto;
    height: 852px;
    position: relative;
}

h1 {
    display: block;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    width: 55%;
    padding-top: 228px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 40px;
}

.description {
    margin-left: 92px;
    margin-bottom: 183px;
}

.description-text {
    display: block;
    max-width: 300px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
}

.info {
    text-decoration: none;
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 20px 30px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}

.info:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.arrow {
    position: absolute;
    background-image: url(../images/first-section/arrow.svg);
    width: 52px;
    height: 55px;
    bottom: 0;
    left: 0;
    transition: 2s;
}

.girl-gradient {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
    right: -75px;
}

.gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    width: 535px;
    height: 850px;
    opacity: 0.2;
}

.gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    width: 235px;
    height: 850px;
    opacity: 0.2;
}

.girl {
    position: absolute;
    top: 0;
    right: -75px;
    width: 996px;
    height: 100%;
}


/* Вторая секция */

.second-section {
    margin-bottom: 160px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #2B3541;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.event-flex {
    display: flex;
    gap: 20px;
    margin-top: 40px;
} 

.event-box {
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.event-1 {
    background-image: url(../images/second-section/event-1.png);
    position: relative;
}

.event-2 {
    background-image: url(../images/second-section/event-2.png);
}

.event-3 {
    background-image: url(../images/second-section/event-3.png);
}

.event-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
}

.event-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}

.button-event {
    opacity: 0;
    padding: 20px 37px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    position: absolute;
    margin-top: 185px;
    margin-left: 30px;
}

.event-box:hover .button-event {
    opacity: 1;
}

.event-box:hover .type {
    opacity: 0;
}

.event-title, .date {
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    padding: 30px 30px 20px 30px;
    color: #2B3541;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    opacity: 0.6;
}

.event-title {
    padding: 0 30px;
    color: #2B3541;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.type {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    background-color: #FBF138;
    font-size: 18px;
    line-height: 27px;
}


/* Третья секция */

.third-section {
    margin-bottom: 160px;
}

.timetable-title {
    display: flex;
    justify-content: space-between;
}

.timetable-title h3 {
    display: block;
    width: 30%;
}

.timetable-title p {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 60px 90px 280px;
    gap: 20px;
    margin-top: 38px;
}

.timetable-grid-item {
    border: 1px solid rgba(43, 53, 65, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timetable-grid-item:hover {
    background: #F3F3F3;
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    border: none;
}

.timetable-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.timetable-grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.timetable-grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
} 

.timetable-grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
} 

.timetable-grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
} 

.timetable-grid-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
} 

.training-date {
    font-size: 18px;
    line-height: 27px;
    color: #010101;
    opacity: .7;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 206px;
}

.training-icon {
    margin-bottom: 40px;
    padding-left: 30px;
}

.training-name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 22,5px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.training-description-other {
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 30px 20px 30px;
}

.training-description {
    font-size: 18px;
    line-height: 27px;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s linear;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.timetable-grid-item:hover .training-description {
    max-height: 500px;  
}


/* Четвертая секция */

.forth-section {
    background-color: #F3F3F3;
}

.mailing {
    padding-top: 80px;
    padding-bottom: 80px;
}

.mailing h3 {
    text-align: center;
    position: relative;
    z-index: 1;
}

.mailing h3::before {
    content: "";
    display: block;
    position: absolute;
    left: 240px;
    top: -24px;
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    z-index: -1;
}

.action {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.action input {
    padding: 19px 250px 19px 19px;
    border: none;
    font-size: 18px;
    line-height: 27px;
}

.action input:hover {
    border: none;
    cursor: pointer;
    background-color: #F3F3F3;
}

.action button {
    padding: 20px 43px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(251, 241, 56, 1);
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}

.action button:hover {
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    color: #FBF138;
}

input:focus {
    outline: 0;
    background-color: #fff;
}

.personal-data {
    padding-left: 205px;
}

.info-and-advantages {
    padding-top: 160px;
    padding-bottom: 170px;
}

.about-company {
    display: flex;
    justify-content: space-between;
    gap: 77px;
    margin-bottom: 80px;
}

.about-company-content p {
    max-width: 90%;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 19px;
    padding-bottom: 54px;
}

.sign-up {
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 51px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);   
}

.sign-up:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.advantages {
    display: flex;
    justify-content: space-between;
    gap: 67px;
}

.advantage-name, .advantage-description {
    margin-top: 0;
    margin-bottom: 0;
}

.advantage-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 22,5px;
    padding-bottom: 20px;
}

.advantage-description {
    font-size: 18px;
    line-height: 27px;
    opacity: .6;
}


/* Подвал */

footer {
    background-color: #F3F3F3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 21px;
}

.footer-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-nav {
    display: flex;
    gap: 90px;
    list-style-type: none;
    padding-left: 0;
}

.footer-nav a {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;
}

.footer-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 62px;
}

.email-address {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.email-address::before {
    content: "";
    display: block;
    position: absolute;
    left: -13px;
    top: -11px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    z-index: -1; 
}

.insta-fb {
    display: flex;
    gap: 30px;
}

.insta-fb .insta {
    width: 27px;
    height: 27px;
}

.insta-fb .fb {
    width: 27px;
    height: 27px;
}

.footer-confidence {
    display: flex;
    justify-content: space-between;
}

.footer-confidence p {
    font-size: 14px;
    line-height: 21px;
    opacity: .3;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 21px;
}